/* IMPOSTAZIONI GENERALI */
#img-box {
        
        background-image: url(../img/sfondo.png);
    }
.title {
width: 900px;
height: 900px;
bottom: 900px;
}
/* HEADER */

table {
    color: white;
    background-color: rgb(26, 148, 185);
    
    
}

.home {
   color: white;
}

/* MAIN */
.blog-post {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    table-layout : fixed;
    padding: 30px;
    box-sizing: content-box;
    background-color: white;
    color: black;
    margin: center;
    border: 1px solid lightgrey;
    width: 270px;
height: 300px;
}

.Mario {
    color: #3b3a3a ; opacity: 70%;
}
.p{
    color: purple;
}
/* ELEMENTI NEL MAIN - ARTICLE */
.CSS {
   
background-color: white;
color: black;
}
.css2 {
    color: white;
    background-color: rgba(22, 96, 207, 0.685);
    width: 40px;
    height: 60px;
/* TABELLE */ 
}
.td1 {
    background-color: rgb(245, 244, 244);
    opacity: 60%;
    width: 40px;
    height: 60px;
    color: black;
}
.td2 {
    background-color: rgb(185, 182, 182);
    opacity: 60%;
    width: 40px;
    height: 60px;
    color: black;
}
.td3 {
    background-color: rgb(248, 245, 245);
    opacity: 60%;
    width: 40px;
    height: 60px;
    color: black;
}
.td4 {
    background-color: rgb(185, 182, 182);
    opacity: 60%;
    width: 40px;
    height: 60px;
    color: black;
}

.td5 {
    background-color: rgb(247, 245, 245);
    opacity: 60%;
    width: 40px;
    height: 60px;
    color: black;
}
.td6 {
    margin-left: 50px;
    margin-right: auto;
    text-align: center;
    table-layout : fixed;
    padding: 30px;
    box-sizing: content-box;
    background-color: gray;
   
    color: black;
    margin: center;
    border: 1px solid lightgrey;
    width: 270px;
height: 300px;

}
    
.testo-link {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    table-layout : fixed;
    padding: 30px;
    box-sizing: content-box;
    background-color: white;
    color: black;
    margin: center;
    border: 1px solid lightgrey;
    width: 270px;
height: 300px;
    

}

/* FORM */
hr {
    color: blue;
}

u {
    color: blue;
}

.line {
    color: blue;
}
/* ELEMENTI NELL' ASIDE */

/* FOOTER */
